{% include "common/header.twig" %}
<div class="gui-container">
    {% include "common/logobox.twig" %}
    <div class="gui-box-less">
        <h2>Wybierz akt</h2>
        <a href="/uploader?act=1" class="role">Prolog</a>
        <a href="/uploader?act=2" class="role">Akt pierwszy</a>
        <a href="/uploader?act=3" class="role">Akt drugi</a>
        <a href="/uploader?act=4" class="role">Akt trzeci</a>
        <a href="/uploader?act=5" class="role">Epilog</a>
    </div>
    {% include "common/footing.twig" %}
    {% include "common/footing.twig" %}
</div>