<section class="gui-box userbox">
    <div class="details">
        <span class="login">{{userData.login}}</span>
        <span class="progress" title="Aktualny postęp w grze">
            <span class="progress-icon done">P</span>
            <span class="progress-icon current">1</span>
            <span class="progress-icon">2</span>
            <span class="progress-icon">3</span>
            <span class="progress-icon">E</span>
        </span>
    </div>
    <a class="button" href="/logoff"><span class="fas fa-sign-out-alt" aria-label="Wyloguj użytkownika" title="Wyloguj
    użytkownika"></span></a>
</section>