{% include "common/header.twig" %}
<div class="gui-container">
    {% include "common/logobox.twig" %}
    <section class="gui-box">
        <h2>Wystąpił błąd</h2>
        <p>Wystąpił bliżej nieokreślony błąd w działaniu aplikacji. Być może to jednorazowy problem, być może jednak to
            my z braku kofeiny, energii i resztek kreatywności o czymś zapomnieliśmy. Także możesz teraz wrócić do menu
            głównego, zapomnijmy o tym co się wydarzyło.</p>
    </section>
    {% include "common/backmenu.twig" %}
    {% include "common/footing.twig" %}
</div>
{% include "common/footer.twig" %}