{% include "common/header.twig" %}
<div class="gui-container">
    {% include "common/logobox.twig" %}
    <section class="gui-box about">
        <h2>O grze</h2>
        <article>
            Czasem nie wszystko wydaje się być takie na jakie wygląda. Tak jest i tutaj w miasteczku Salem gdzie każdy
            zna każdego a życie toczy się swoim spokojnym nie zachwianym rytmem nawet na pozór niewinna osoba ma coś na
            sumieniu. Pewnego letniego dnia równowaga ta zostaje zachwiana. Jack Torrance wrzucony w sam środek tego
            bałaganu jest zmuszony do odkrycia jego przyczyny. Postawiony w sytuacji bez wyjścia musi cofnąć się w
            przeszłość by zmienić przyszłość. Na pozór prosta sprawa okazuje się czymś więcej. Każdy kij ma dwa końce,
            ale czy będzie tak i w tym przypadku....?
        </article>
    </section>
    {% include "common/backmenu.twig" %}
    {% include "common/footing.twig" %}
</div>
{% include "common/footer.twig" %}