{% include "common/header.twig" %}
<div class="gui-container">
    {% include "common/logobox.twig" %}
    <section class="gui-box">
        <main class="act">
            <img src="/img/acts/prolog.jpg" alt="Obraz jest okładką aktu" class="layer">
            <span class="title">Prolog</span>
        </main>
        <a href="card/1" class="link-as-button">Zacznij prolog</a>
    </section>
    {% include "common/backmenu.twig" %}
    {% include "common/footing.twig" %}
</div>
{% include "common/footer.twig" %}