{% include "common/header.twig" %}
<div class="gui-container">
    {% include "common/logobox.twig" %}
    <section class="gui-box">
        <main class="act">
            <img src="/img/{{actDetails.logoPath}}" alt="Obraz jest okładką aktu" class="layer">
            <span class="title">{{actDetails.name}}</span>
        </main>
        <a href="{{link}}" class="link-as-button">Rozpocznij akt</a>
    </section>
    {% include "common/backmenu.twig" %}
    {% include "common/footing.twig" %}
</div>
{% include "common/footer.twig" %}