{% include "common/header.twig" %}
<div class="gui-container">
    {% include "common/logobox.twig" %}
    <section class="gui-box act">
    </section>
    {% include "common/footing.twig" %}
</div>
{% include "common/footer.twig" %}