{% include "common/header.twig" %}
<div class="gui-container">
    {% include "common/logobox.twig" %}
    <section class="gui-box author">
        <span class="work">Software</span>
        <span class="name">Oskar Barcz</span>
        <span class="work">Grafika</span>
        <span class="name">Kasia Pytlik</span>
        <span class="work">Fabuła</span>
        <span class="name-sub">Rafał Bieniasz</span>
        <span class="name-sub">Tomasz Cembała</span>
        <span class="name-sub">Kamil Maśnica</span>
        <span class="name-sub">Szymon Mrowiec</span>
        <span class="work">Fabuła</span>
        <p>Wykonano podczas imprezy GameJam 2018 w Zespole Szkół Żeglugi Sródlądowej. Zbieżność imion i nazwisk jest
            przypadkowa.</p>
    </section>
    {% include "common/backmenu.twig" %}
    {% include "common/footing.twig" %}
</div>
<script>


</script>
{% include "common/footer.twig" %}