{% include "common/header.twig" %}

<div class="gui-container">
    <section class="gui-box">
        <p class="description">Historia trzech postaci wrzuconych w nieprzewidywalny wir wydarzeń. Co tak na prawdę
            wydarzyło się w
            Salem? Jak skończy się historia miasteczka?</p>
        <div class="menu">
            <a class="link-as-button" href="/login-choose">Zagraj</a>
            <a class="link-as-button" href="/about">O grze</a>
            <a class="link-as-button" href="/authors">Autorzy</a>
            <a class="link-as-button" href="https://github.com/archi-tektur/TownOfSalem">Kod źródłowy</a>
        </div>
    </section>
    {% include "common/footing.twig" %}
</div>

{% include "common/footer.twig" %}